.container {
    display: flex;
    align-items: center;
    flex-direction: column; /* Si los elementos son columnas, se alinea así */
    padding: 20px; /* Agrega un poco de relleno para un mejor diseño */
    background: linear-gradient(to bottom, rgb(44, 44, 44), rgb(0, 0, 0));
}