.card {
  display: flex;
  flex-direction: column;
  border: 3px solid blueviolet;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
}

.imagen {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 3px solid blueviolet;
}

.botones {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.boton {
  border: 1px solid;
  padding: 8px;
  background-color: rgb(58, 58, 58);
  color: white;
  border-color: white;
  border-radius: 8px;
  outline: none;
  font-weight: 600;
}
