.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(58, 58, 58);
    padding: 20px;
}

.div {
    display: flex;
    gap: 10px;
}

.button {
    border: 2px solid;
    padding: 13px;
    background-color:  rgb(58, 58, 58);
    color: white;
    border-color: white;
    border-radius: 8px;
    outline: none;
    font-weight: 600;
}

.button:hover {
    font-weight: 600;
    background-color: rgb(58, 58, 58); /* Fondo azul */
    color: #1E90FF;              /* Texto blanco */
    border-color: #1E90FF;     /* Borde azul */
    box-shadow: inset 0 0 10px rgba(30, 144, 255, 0.7); /* Sombra interior azul */
  }

  .banner {
    width: 100%;
    border: none;
  }

  @media (max-width: 430px) {
    .imagen {
      max-width: 120px; /* La imagen ocupará todo el ancho disponible */
      height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    }
    .button {
        border: 1px solid;
        padding: 7px;
        background-color:  rgb(58, 58, 58);
        color: white;
        border-color: white;
        border-radius: 8px;
        outline: none;
        font-weight: 600;
    }
  }
  
  